.logo {
  height: 60px;
}
.menu-list {
  list-style: none;
}
.menu-list > a {
  padding: 0 10px;
  text-decoration: none;
  color: var(--color-white);
}
.menu-list > a.active-link {
  color: var(--color-active);
  border-left: 2px var(--color-active) solid;
}
